.fullSpotForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    margin-bottom: 10px;
    width: 550px;
    height: 625px;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: scroll;
}

.formInputs {
    display: flex;
    flex-direction: column;
}

.spotSubmitButton {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    background-color: rgb(215, 4, 102);
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.oneFormInput {
    padding: 4px;

}

.formPadding {
    padding: 3px;
}

.textAreaInput {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid black;
}

/* .errors {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:end;
}

.oneError {
    font-size: 10px;
} */

.actualInput {
    border-radius: 4px;
    border: 1px solid black;
}

.title {
    margin-left: 35px;
}