.spotCardUpperText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spotCardImg {
    height: 10%;
    width: 10%;
}

.spotCard {
    height: 50%;
    width: 50%;
}