.spotCardUpperText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spotCardImg {
    height: 75%;
    width: 75%;
}

.spotCard {
    height: 400px;
    width: 400px;
}

.allSpotCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}