.spotCardUpperText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.spotCardImg {
    height: 75%;
    width: 75%;
    border-radius: 25px;
}

.spotCard {
    height: 400px;
    width: 400px;;
}

.allSpotCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}