.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid rgba(192, 191, 191, 0.8);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.imgLogo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.becomeHost {
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 15px;
    color:rgba(12, 11, 11, 0.8)
}

.logoAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}

.titleNav {
    padding-left: 15px;
    color: rgb(8, 2, 2);

}

.coolButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 10px;
}

.profile-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    height: 200px;
    right: 0;
    width: 200px;
    top: 3rem;
    border-radius: 15px;
    box-shadow: 5px 1px 1px rgb(0 0 0 / 10%);
    margin-right: 20px;
    margin-top: 0pz
}

.createAndCool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 18%;
}

.hamButton {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}